// ---------------------------------
// ----- mail@tayfunguelcan.de -----
// ---------------------------------

//Local Variables
@bootstrap-path: "/app/bower_components/bootstrap/less";
@theme: "volkswagenag";
@theme-path: "themes/@{theme}";
@path-fonts: "../fonts";

// Iconography
// -------------------------

@icon-font-path:          "../fonts/icons";
@icon-font-name:          "glyphicons-halflings-regular";


//Theme Varables
@import "@{theme-path}/variables.less";
@import "@{theme-path}/fonts.less";
@import "@{theme-path}/colors.less";


// Core variables and mixins
//@import "@{bootstrap-path}/variables.less";
@import "@{bootstrap-path}/mixins.less";

// Reset
@import "@{bootstrap-path}/normalize.less";
@import "@{bootstrap-path}/print.less";

// Core CSS
@import "@{bootstrap-path}/scaffolding.less";

@import "@{bootstrap-path}/type.less";

@import "@{bootstrap-path}/code.less";
@import "@{bootstrap-path}/grid.less";
@import "@{bootstrap-path}/tables.less";

@import "@{bootstrap-path}/forms.less";

//@import "@{bootstrap-path}/buttons.less";

// Components
//@import "@{bootstrap-path}/component-animations.less";
//@import "@{bootstrap-path}/glyphicons.less";
//@import "@{bootstrap-path}/dropdowns.less";
//@import "@{bootstrap-path}/button-groups.less";
//@import "@{bootstrap-path}/input-groups.less";
//@import "@{bootstrap-path}/navs.less";
//@import "@{bootstrap-path}/navbar.less";
//@import "@{bootstrap-path}/breadcrumbs.less";
//@import "@{bootstrap-path}/pagination.less";
//@import "@{bootstrap-path}/pager.less";
//@import "@{bootstrap-path}/labels.less";
//@import "@{bootstrap-path}/badges.less";

//@import "@{bootstrap-path}/jumbotron.less";
@import "components/jumbotron.less";

//@import "@{bootstrap-path}/thumbnails.less";
//@import "@{bootstrap-path}/alerts.less";
//@import "@{bootstrap-path}/progress-bars.less";
//@import "@{bootstrap-path}/media.less";
//@import "@{bootstrap-path}/list-group.less";
//@import "@{bootstrap-path}/panels.less";
//@import "@{bootstrap-path}/wells.less";
//@import "@{bootstrap-path}/close.less";

// Components w/ JavaScript
//@import "@{bootstrap-path}/modals.less";
//@import "@{bootstrap-path}/tooltip.less";
//@import "@{bootstrap-path}/popovers.less";
//@import "@{bootstrap-path}/carousel.less";
//
// Utility classes
@import "@{bootstrap-path}/utilities.less";
@import "@{bootstrap-path}/responsive-utilities.less";

//Overwrite
@import "components/bs-overwrite.less";
@import "components/helper-classes.less";

//Custom
@import "custom/custom.less";
