/*======================================*/
/* BOOTSTRAP'S COMPONENTS */
/*======================================*/
.collapse {
    display: none
}

.jumbotron {
    /* Jumbotron statement: */

    /* Jumbotron animations: */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    padding: 50px 30px;
    background-color: #e3e5e7;
    border-radius: 0 !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 350px;

    /*
    filter: grayscale(40%);
    */

    > h1 {
        color: white;
        font-size: 2.5em;
        letter-spacing: 0.8px;
        line-height: 73px;
        text-shadow: 0 1px 3px rgba(18, 20, 20, 0.40);
    }
    &:hover {
        /*
        filter: grayscale(0%);
        */
    }

    > .close {
        position: absolute;
        right: 30px;
        top: 15px;
    }
}

.navbar-toggle .icon-bar {
    background-color: #aaa
}

hr {
    border-color: rgba(0, 0, 0, 0.12);
}

.media-block .media-left, .news-feed .media-right {
    display: block
}

.media-block .media-left {
    float: left;
}

.media-block .media-right {
    float: right;
}

.media-block .media-body {
    display: block;
    overflow: hidden
}

.middle {
    .media-left, .media-right, .media-body {
        vertical-align: middle
    }
}

.canvas-responsive {
    max-width: 100%
}


/*======================================*/
/* FORM CONTROL  */
/*======================================*/

.form-control {
    border-radius: @border-radius-base;
    box-shadow: none;
    border: 1px solid @gray;
}

.form-control:focus {
    border-color: @state-active-bg;
    box-shadow: none
}

.form-control-feedback {
    z-index: 10
}

.has-error .form-control,
.has-warning .form-control,
.has-success .form-control {
    box-shadow: none !important
}

.fa.form-control-feedback {
    line-height: 34px
}

.input-group-addon {
    border: 1px solid #e1e5ea;
    background-color: transparent;
    border-radius: @border-radius;
    min-width: 45px;
}

/*======================================*/
/* LABEL */
/*======================================*/
.label {
    font-weight: normal;
    border-radius: 0.1em;
    font-size: 85%;
    &:empty {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: sub;
    }
    &.label-fw {
        margin-right: .5em
    }
    .labels & {
        display: inline-block;
        margin-right: 3px;
        margin-bottom: 3px
    }
    &-md {
        font-size: 100%;
    }
    &-default {
        background-color: #e3e8ee;
        color: @body-color;
    }
    &-primary {
        background-color: @primary-bg;
    }
    &-info {
        background-color: @info-bg;
    }
    &-success {
        background-color: @success-bg;
    }
    &-warning {
        background-color: @warning-bg;
    }
    &-danger {
        background-color: @danger-bg;
    }
}

/*======================================*/
/* BREADCRUMB */
/*======================================*/

.breadcrumb {
    border-radius: 0;
    background-color: transparent;
    margin-bottom: 10px;
    padding: 0 20px;
    li {
        &, & a {
            font-size: .85em;
            color: @text-muted
        }

    }
    > li {
        & + li:before {
            content: "\f105";
            display: inline-block;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
        }
    }

}

@media (min-width: @screen-md-min) {
    .breadcrumb {
        padding: 0 25px;
    }
}

/*======================================*/
/* ALERT */
/*======================================*/
.alert-bg(@color) {
    //background-color: @color;
    background-color: screen(@color, #171717);
    border-color: transparent;
    color: #fff;
}

.alert {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 10px 10px 0;
    border-radius: none;
    border: 0;
    .alert-link {
        text-decoration: underline;
        //&:not(.text-bol){
        //    font-weight: normal
        //}
        &:hover {
            text-decoration: underline
        }
    }
    &-primary {
        .alert-bg(@primary-bg);
        .close, .alert-link {
            color: darken(@primary-bg, 25%);
        }
    }
    &-info {
        .alert-bg(@info-bg);
        .close, .alert-link {
            color: darken(@info-bg, 25%);
        }
    }
    &-success {
        .alert-bg(@success-bg);
        .close, .alert-link {
            color: darken(@success-bg, 25%);
        }
    }
    &-warning {
        .alert-bg(@warning-bg);
        .close, .alert-link {
            color: darken(@warning-bg, 25%);
        }
    }
    &-danger {
        .alert-bg(@danger-bg);
        .close, .alert-link {
            color: darken(@danger-bg, 25%);
        }
    }
}

.close {
    text-shadow: none;
    opacity: .3;
    position: relative;
    button& {
        padding: 1px;
        border-radius: 20px;
        > span:not(.sr-only) {
            display: block;
            width: 1em;
            height: 1em;
            line-height: .8em
        }
        &:hover {
            opacity: .55;
        }
        &:active {
            opacity: .3
        }
    }
}

/*======================================*/
/* MODAL */
/*======================================*/
.modal {
    text-align: center;

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        width: 0;
        margin-left: -1em;
        vertical-align: middle;
    }
    &.fade {
        &:not(.animated) .modal-dialog {
            opacity: 0;
            -webkit-transform: translateY(-150%);
            -ms-transform: translateY(-150%);
            transform: translateY(-150%);
            -webkit-transition: all .5s linear .5s;
            transition: all .5s linear .5s;
        }
        &.in:not(.animated) .modal-dialog {
            opacity: 1;
            -webkit-transform: translateY(0%);
            -ms-transform: translateY(0%);
            transform: translateY(0%);
            -webkit-transition: all .5s;
            transition: all .5s;
        }
    }
    .bootbox& {
        &.in:not(.fade) {
            opacity: 1;
        }
        &:not(.fade) {
            opacity: 0;
            -webkit-transition: opacity .5s linear .5s;
            transition: opacity .5s linear .5s;
        }
    }
    &-dialog {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        margin-top: -1%;
        min-width: 90%;
        &.animated {
            -webkit-animation-duration: .7s;
            animation-duration: .7s;
        }
    }
    &-header {
        padding: 15px;
        position: relative;
        border: 0;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 15px;
            right: 15px;
            height: 1px;
            border-bottom: 1px solid rgba(0, 0, 0, .1)
        }
    }
    &-footer {
        background-color: rgba(0, 0, 0, .025);
        color: #5c7174;
        border-color: rgba(0, 0, 0, .04);
        border-top-left-radius: @border-radius;
        border-top-right-radius: @border-radius;
    }
    &-title {
        font-size: 18px;
        font-weight: 300
    }
    &-body {
        min-height: 90px
    }
    &-body .close, &-header .close {
        top: auto;
        right: auto;
        background-color: transparent !important
    }
    &-content {
        box-shadow: none;
        border-radius: @border-radius
    }
    &-footer {
        padding: 10px 15px;
        border-bottom-left-radius: @border-radius;
        border-bottom-right-radius: @border-radius;
    }
    &-backdrop.in {
        opacity: 0.75
    }
}

/*NG-STRAP FADE*/

.modal-backdrop.am-fade {
    opacity: .5;
    background-color: @brand-bg;

    &.ng-enter {
        background-color: transparent;

        opacity: 0;
        &.ng-enter-active {
            opacity: .5;
            background-color: transparent;

        }
    }
    &.ng-leave {
        background-color: transparent;

        opacity: .5;
        &.ng-leave-active {
            opacity: 0;
        }
    }
}

@media (min-width: @screen-sm-min) {
    .modal-dialog {
        min-width: 0
    }
}

/*======================================*/
/* TOOLTIP */
/*======================================*/
.tooltip {
    z-index: 999999;
    &-inner {
        font-size: @font-size;
        border-radius: @border-radius;
        padding: 5px 10px;
        background-color: @tooltip-bg
    }
    &.top {
        .tooltip-arrow, &-left .tooltip-arrow, &-right .tooltip-arrow {
            border-top-color: @tooltip-bg;
        }
    }
    &.right {
        .tooltip-arrow {
            border-right-color: @tooltip-bg
        }
    }
    &.left {
        .tooltip-arrow {
            border-left-color: @tooltip-bg
        }
    }
    &.bottom {
        .tooltip-arrow, &-left .tooltip-arrow, &-right .tooltip-arrow {
            border-bottom-color: @tooltip-bg
        }
    }
}

/*======================================*/
/* POPOVER */
/*======================================*/
.popover {
    font-family: @font-family;
    font-size: @font-size;
    font-weight: 300;
    border-radius: @border-radius;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    &-title {
        background-color: #f5f6f7;
        color: #5c7174;
        font-weight: 300;
        border-radius: @border-radius @border-radius 0 0;
    }
    > .arrow {
        border-width: 9px;
        &:after {
            border-width: 9px;
        }
    }
    &.left {
        > .arrow {
            right: -9px;
            margin-top: -9px;
            &:after {
                bottom: -9px;
            }
        }
    }
    &.right {
        > .arrow {
            left: -9px;
            margin-top: -9px;
            &:after {
                bottom: -9px;
            }
        }
    }
    &.top {
        > .arrow {
            bottom: -9px;
            &:after {
                margin-left: -9px
            }
        }
    }
    &.bottom {
        > .arrow {
            top: -9px;
            &:after {
                margin-left: -9px
            }
        }
    }
    &-content {
        padding: 10px 15px 20px;
    }
}

/*======================================*/
/* BADGE */
/*======================================*/
#container .badge {
    font-weight: normal;
    color: #fff;
    &-default {
        background-color: #e3e8ee;
        color: #333
    }
    &-primary {
        background-color: @primary-bg;
    }
    &-info {
        background-color: @info-bg;
    }
    &-success {
        background-color: @success-bg;
    }
    &-warning {
        background-color: @warning-bg;
    }
    &-danger {
        background-color: @danger-bg;
    }
    &:empty.badge-icon {
        display: inline-block;
        width: 0.7em;
        height: 0.7em;
        padding: 0;
        min-width: 5px;
        margin: .5em;
        border-radius: 50%;
    }
    &.badge-fw, &:empty.badge-fw {
        margin-right: 1em
    }
}

/*======================================*/
/* DROPDOWN */
/*======================================*/
.dropdown {
    &-header {
        padding: 5px 20px 5px 10px
    }
    &-toggle {
        > .dropdown-caret {
            padding-left: .5em
        }
        &.dropdown-toggle-icon {
            > i {
                padding: 0 .25em;
            }
        }
    }
    &-menu {
        font-size: @font-size;
        border-radius: @border-radius;
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
        margin: 1px 0 0 0;
        padding: 0;
        border: 1px solid @border-color;
        &-right {
            left: auto;
            right: 0
        }
        &-sm {
            min-width: 200px;
        }
        &-md {
            min-width: 300px;
        }
        &-lg {
            min-width: 400px;
        }
        .dropup & {
            box-shadow: 0 -2px 1px 0 rgba(0, 0, 0, 0.15);
        }
        > li {
            > a {
                font-weight: 300;
                padding: 5px 10px;
                &:hover {
                    background-color: @state-active-bg;
                    color: @state-active-color
                }
            }
        }
        &.with-arrow {
            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                left: 0;
                top: 0;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid darken(@border-color, 10%);
                margin: -7px 0 0 15px;

            }
            &:after {
                content: "";
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                left: 0;
                top: 0;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid #fff;
                margin: -6px 0 0 15px;
            }
            &.arrow-light:after {
                border-bottom: 7px solid #fff;
            }
        }
        &-right.dropdown-menu.with-arrow {
            &:before {
                left: auto;
                right: 0;
                margin: -7px 25px 0 0;
            }
            &:after {
                left: auto;
                right: 0;
                margin: -6px 25px 0 0;
            }
        }
    }
}

.dropdown.open > .btn,
.btn-group.open .dropdown-toggle {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

/*======================================*/
/* WELL */
/*======================================*/
.well {
    background-color: rgba(0, 0, 0, .05);
    border-radius: @border-radius;
    box-shadow: none
}

.well-xs {
    padding: 5px;
}

/*======================================*/
/* PROGRESSBAR */
/*======================================*/
.progress {
    height: 12px;
    margin-bottom: 15px;
    border-radius: @border-radius;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.1);
    .progress-bar {
        font-size: 9px;
        line-height: 12px;
    }
    &-xl {
        height: 30px;
        margin-bottom: 20px;
        .progress-bar {
            font-size: @font-size;
            line-height: 30px;
        }
    }
    &-lg {
        height: 20px;
        margin-bottom: 20px;
        .progress-bar {
            font-size: @font-size;
            line-height: 20px;
        }
    }
    &-md {
        height: 8px;
        margin-bottom: 5px;
        .progress-bar {
            font-size: 5px;
            line-height: 8px;
        }
    }
    &-sm {
        border-radius: 1px;
        height: 4px;
        margin-bottom: 5px;
        .progress-bar {
            font-size: 0;
        }
    }
    &-xs {
        border-radius: 0;
        height: 2px;
        margin-bottom: 10px;
        .progress-bar {
            font-size: 0;
        }
    }
    &-bar {
        box-shadow: none;
        &-light {
            background-color: #fff;
        }
        &-primary {
            background-color: @primary-bg;
        }
        &-info {
            background-color: @info-bg;
        }
        &-success {
            background-color: @success-bg;
        }
        &-warning {
            background-color: @warning-bg;
        }
        &-danger {
            background-color: @danger-bg;
        }
    }
    &-light-base {
        background-color: #fff;
    }
    &-dark-base {
        background-color: rgba(0, 0, 0, 0.08)
    }
    &-dark-base-overlay {
        background-color: rgba(255, 255, 255, 0.2)
    }
}

/*======================================*/
/* PAGER */
/*======================================*/
.pager {
    li {
        > a {
            &:active {
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
            }
            &:hover, &:focus {
                background-color: @light-bg;
                border-color: @state-active-bg;
                color: @state-active-bg;
                box-shadow: 0 0 2px @state-active-bg;
                z-index: 2;
            }
        }
        > a, > span {
            border-radius: @border-radius;
            border-color: darken(@border-color, 5%);
        }
    }
    &.pager-rounded {
        li {
            > a, > span {
                border-radius: 15px;
            }
        }
    }
    .disabled {
        > a, > span {
            &, &:hover, &:focus {
                opacity: .7;
                border-color: darken(@border-color, 5%);
                box-shadow: none
            }
        }
    }
}

/*======================================*/
/* PAGINATION */
/*======================================*/
.pagination {
    > li {
        > a, > span {
            color: inherit;
            border-color: darken(@border-color, 5%);
        }
        a {
            &:active {
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
                &:extend(.pager li > a:active);
            }
            &:hover, &:focus {
                &:extend(.pager li > a:hover);
            }
        }
        > span {
            cursor: default;
            &:hover {
                background-color: @light-bg
            }
        }
        &:first-child {
            > a, span {
                border-top-left-radius: @border-radius;
                border-bottom-left-radius: @border-radius;
            }
        }
        &:last-child {
            > a, span {
                border-top-right-radius: @border-radius;
                border-bottom-right-radius: @border-radius;
            }
        }
    }
    > .active {
        > a, > span, > a:hover, > span:hover, > a:focus, > span:focus {
            background-color: @state-active-bg;
            border-color: @state-active-bg;
        }
    }
    .disabled {
        > a, > span {
            &, &:hover, &:focus {
                opacity: .7;
                border-color: darken(@border-color, 5%);
                box-shadow: none;
                &:extend(.pager .disabled > a);
            }
        }
    }
}

/*======================================*/
/* BLOCKQUOTE */
/*======================================*/
.bq {
    &-sm {
        font-size: @font-size;
    }
    &-open:before {
        color: rgba(0, 0, 0, 0.3);
        content: open-quote;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }
}

/*======================================*/
/* FORM */
/*======================================*/
.form-horizontal {
    .control-label {
        margin-bottom: 5px;
        &.text-left {
            text-align: left
        }
    }
}

/*======================================*/
/* ACCORDION */
/*======================================*/
.x {
    > .panel-heading + .panel-collapse > .panel-body {
        border-top: 0
    }
    &-group {
        margin-bottom: 35px;
        &.accordion {
            .panel {
                margin-bottom: 0;
                &-heading {
                    border-radius: 0;
                    height: auto;
                    &:after {
                        border: 0 !important
                    }
                }
                &-heading, &-title {
                    padding: 0;
                }
                &-title {
                    line-height: 1.4;
                    padding: 10px 0;
                    a {
                        display: block;
                        color: inherit;
                        text-transform: none;
                        font-size: @font-size;
                        font-weight: 300;
                        padding: 0 15px;
                        &:hover, &:focus {
                            color: inherit
                        }
                    }
                }
                &:first-child {
                    &, .panel-heading {
                        border-top-left-radius: @border-radius;
                        border-top-right-radius: @border-radius;
                    }
                }
                &:last-child {
                    border-bottom-left-radius: @border-radius;
                    border-bottom-right-radius: @border-radius;
                    overflow: hidden;
                }
            }
        }
    }
}

/*======================================*/
/* TAB */
/*======================================*/
.tab {
    &-base {
        margin-bottom: 35px;
        .tab-content {
            background-color: @light-bg;
            /*
            border: 1px solid darken(@border-color,5%);
            border-top-color: transparent;
            */
            box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            padding: 15px;
            .tab-footer {
                background-color: lighten(@body-bg, 3%);
                color: @body-color;
                border-color: lighten(@body-bg, 1%);
                position: relative;
                margin: 0 -15px -15px -15px;
                padding: 10px 15px
            }
        }
        .nav-tabs {
            border: 0;
            > li:not(.active) {
                > a {
                    background-color: rgba(255, 255, 255, 0.35);
                    opacity: .7;
                    &:hover {
                        opacity: .9;
                        background-color: rgba(255, 255, 255, 0.55);
                        border-color: @state-active-bg;
                        border-bottom-color: transparent;
                    }
                }
            }
            > .active {
                > a, a:hover, > a:focus {
                    border-color: transparent
                }
            }
            &.tabs-right {
                text-align: right;
                > li {
                    float: none;
                    display: inline-block;
                    margin-right: -2px;
                }
            }
        }
    }
    &-footer:after {
        content: '';
        display: table;
        clear: both
    }
    &-stacked {
        &-left, &-right {
            display: table;
            height: 100%;
            width: 100%;
            & .nav-tabs {
                > li {
                    float: none;
                    margin: 0;
                    > a {
                        margin: 0 0 2px;
                        //border: 1px solid darken(@border-color,5%);

                    }
                    &:last-child {
                        > a {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            & .nav-tabs, & .tab-content {
                display: table-cell;
                vertical-align: top
            }
            .tab-content {
                overflow: hidden;
                //border: 1px solid darken(@border-color,5%);
            }
        }
        &-left {
            .nav-tabs {
                width: 1%;
                border: 0;
                //box-shadow: inset -2px 0 0 -1px darken(@border-color,5%);
                > li {
                    a {
                        border-right-color: transparent;
                        border-radius: @border-radius 0 0 @border-radius
                    }
                }
                > .active {
                    > a {
                        &:hover, &:focus {
                            //border: 1px solid darken(@border-color,5%);
                            border-right-color: transparent;
                        }
                    }
                }

            }
            &.tab-base {
                .nav-tabs {
                    > li:not(.active) {
                        a {
                            &:hover {
                                border-color: @state-active-bg;
                                border-right-color: transparent;
                            }
                        }
                    }
                }
            }
            .tab-content {
                border-left-color: transparent;
                border-radius: 0 @border-radius @border-radius 0;
            }
        }
        &-right {
            .nav-tabs {
                width: 1%;
                border: 0;
                //box-shadow: inset 2px 0 0 -1px darken(@border-color,5%);
                > li {
                    a {
                        border-left-color: transparent;
                        border-radius: 0 @border-radius @border-radius 0
                    }
                }
                > .active {
                    > a {
                        &:hover, &:focus {
                            //border: 1px solid darken(@border-color,5%);
                            border-left-color: transparent;
                        }
                    }
                }
            }
            &.tab-base {
                .nav-tabs {
                    > li:not(.active) {
                        a {
                            &:hover {
                                border-color: @state-active-bg;
                                border-left-color: transparent;
                            }
                        }
                    }
                }
            }
            .tab-content {
                border-right-color: transparent;
                border-radius: @border-radius 0 0 @border-radius
            }
        }
    }
}

.nav-tabs {
    li {
        a {
            border-radius: @border-radius @border-radius 0 0
        }
    }
    &.tab-right {
        text-align: right;
        > li {
            display: inline-block;
            text-align: left;
            float: none;
            > a {
                margin-right: 0
            }
        }
    }
    .label, .badge {
        margin-left: 10px
    }
}

/*======================================*/
/* BACKGROUND */
/*======================================*/
.bg {
    &-light {
        background-color: @light-bg;
        &, & a {
            color: @light-color;
        }
    }
    &-gray-light {
        background-color: lighten(@gray-bg, 5%);
        &, & a {
            color: @gray-color;
        }
    }
    &-gray {
        background-color: @gray-bg;
        &, & a {
            color: @gray-color;
        }
    }
    &-gray-dark {
        background-color: darken(@gray-bg, 10%);
        &, & a {
            color: @gray-color;
        }
    }
    &-trans-light {
        background-color: rgba(255, 255, 255, .1);
        &, & a {
            color: inherit;
        }
    }
    &-trans-dark {
        background-color: rgba(0, 0, 0, .1);
        &, & a {
            color: inherit;
        }
    }
    &-trans {
        background-color: transparent
    }
    &-primary {
        background-color: @primary-bg;
        &, & a {
            color: @primary-color;
        }
        &.text-dark, & .text-dark, &.text-dark a, & .text-dark a {
            color: darken(@primary-bg, 20%);
        }
    }
    &-nav {
        background-color: @navbar-bg;
        &, & a {
            color: @silver100;
        }
        &.text-dark, & .text-dark, &.text-dark a, & .text-dark a {
            color: darken(@navbar-bg, 20%);
        }
    }
    &-info {
        background-color: @info-bg;
        &, & a {
            color: @info-color;
        }
        &.text-dark, & .text-dark, &.text-dark a, & .text-dark a {
            color: darken(@info-bg, 20%);
        }
    }
    &-success {
        background-color: @success-bg;
        &, & a {
            color: @success-color;
        }
        &.text-dark, & .text-dark, &.text-dark a, & .text-dark a {
            color: darken(@success-bg, 20%);
        }
    }
    &-warning {
        background-color: @warning-bg;
        &, & a {
            color: @warning-color;
        }
        &.text-dark, & .text-dark, &.text-dark a, & .text-dark a {
            color: darken(@warning-bg, 20%);
        }
    }
    &-danger {
        background-color: @danger-bg;
        &, & a {
            color: @danger-color;
        }
        &.text-dark, & .text-dark, &.text-dark a, & .text-dark a {
            color: darken(@danger-bg, 20%);
        }
    }
}

/*======================================*/
/* TEXT */
/*======================================*/
.text-color(@color) {
    color: darken(@color, 15%)
}

.text-light, a.text-light:hover,
a.text-light:focus, a.text-light:active {
    color: @light-bg
}

.text-muted, a.text-muted:hover,
a.text-muted:focus, a.text-muted:active {
    color: #939393;
}

.text-primary, a.text-primary:hover,
a.text-primary:focus, a.text-primary:active {
    .text-color(@primary-bg)
}

.text-info, a.text-info:hover,
a.text-info:focus, a.text-info:active {
    .text-color(@info-bg)
}

.text-success, a.text-success:hover,
a.text-success:focus, a.text-success:active {
    .text-color(@success-bg)
}

.text-warning, a.text-warning:hover,
a.text-warning:focus, a.text-warning:active {
    .text-color(@warning-bg)
}

.text-danger, a.text-danger:hover,
a.text-danger:focus, a.text-danger:active {
    .text-color(@danger-bg)
}


.text-dark, a.text-dark:hover,
a.text-dark:focus, a.text-dark:active {
    .text-color(@dark-bg)
}

/*======================================*/
/* BUTTONS */
/*======================================*/
.btn-bg(@bg,@color) {
    //background-color: darken(@bg, 3%);
    background-color: darken(screen(@bg, #000), 1.5%);
    border-color: darken(@bg, 3%);
    color: @color;
}

.btn-txt-dark(@color) {
    color: darken(@color, 15%)
}

.state-btn-active(@bg,@color) {
    background-color: darken(screen(@bg, #000), 5%);
    border-color: darken(@bg, 7%);
    color: @color;
}

.btn {
    cursor: pointer;
    background-color: @btn-default-bg;
    color: @btn-default-color;
    padding: 7px 20px;
    border-radius: @btn-rounded;
    font-family: @btn-font-family;
    font-size: @btn-default-font-size;
    font-weight: 300;
    line-height: 1;
    text-transform: @btn-text-transform;
    vertical-align: middle;
    -webkit-transition: all .15s;
    transition: all .15s;
    box-shadow: @btn-box-shadow;
    outline: 0;
    letter-spacing: 1.8px;
    margin-left: 4px;
    text-decoration: none;
}

.btn-lg {
    font-size: @btn-lg-font-size;
    line-height: 1
}

.btn-sm {
    font-size: @btn-sm-font-size;
    line-height: 1
}

.btn-xs {
    font-size: @btn-xs-font-size;
    line-height: 1
}

.btn:not(.disabled):not(:disabled):active,
.btn:not(.disabled):not(:disabled).active {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2); //Btn Down
}

/* BUTTON ICON */
/*---------------------------------*/


// Button variants
// -------------------------
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons
.button-variant(@color; @background; @border) {
    color: @color;
    background-color: @background;
    border-color: @border;

    &:hover,
    &:focus,
    &:active,
    &.active,
    .open .dropdown-toggle& {
        color: @color;
        background-color: (@background);
        border-color: @border;
        text-decoration: none !important;
    }
    &:active,
    &.active,
    .open .dropdown-toggle& {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: @background;
            border-color: @border;
        }
    }

    .badge {
        color: @background;
        background-color: #fff;
    }
}

.btn-icon {
    padding-left: 9px;
    padding-right: 9px;
}

.btn-icon:before {
    display: inline-block;
    min-width: 1.05em
}

.btn-icon {
    &.btn-xs {
        &:extend(.btn-xs);
    }
    &.btn-sm {
        &:extend(.btn-sm);
    }
    &.btn-lg {
        &:extend(.btn-lg);
    }
}

/*---------------------------------*/

[class^="groupicon-"].btn:not(.btn-lg), [class*=" groupicon-"].btn:not(.btn-lg) {
    height: 40px;
    width: 40px;
    font-size: 1.9em;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    color: @silver300;
    box-shadow: 0px 1px 3px 0px rgba(18, 20, 20, 0.2);
}

/* BUTTON FILE */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* BUTTON LINK */
.btn-link {
    border-color: transparent;
    font-weight: 300
}

.btn.btn-link:focus,
.btn.btn-link:active {
    box-shadow: none
}

.btn-link.disabled:hover, .btn-link.disabled:focus {
    text-decoration: none
}

/* BUTTON TRANSPARENT */
.btn-trans {
    background-color: transparent;
    border-color: transparent;
    color: lighten(@body-color, 20%);
    text-decoration: none;
}

/* BUTTON DEFAULT */
.btn-default {
    background-color: @btn-default-bg;
    border-color: @btn-default-border;
    color: @btn-default-color;
    text-decoration: none;
}

.btn-shadowless {
    box-shadow: 0 0 0 transparent !important;
}

.btn:focus {
    box-shadow: @btn-box-shadow;
    outline: 0;
    text-decoration: none;
}

.btn:active,
.btn.active {
    border-color: @btn-default-border-hover;
    outline: 0;
    text-decoration: none;
}

.btn:not(.disabled):not(:disabled):active, .btn:not(.disabled):not(:disabled).active,
.btn:active:focus, .btn.active:focus, .btn:active.focus, .btn.active.focus {
    box-shadow: 0px 0px 2px 0px fade(@grey700, 30%);
    outline: 0;
}

.btn-default:hover,
.btn-default:focus:hover,
.open > .dropdown-toggle.btn-default {
    .btn-txt-dark(@gray-color);
    border-color: @btn-default-border-hover;
    color: @btn-default-hover-color;
    background-color: @btn-default-hover-bg;
    outline: 0;
    text-decoration: none;
}

.btn-default:focus {
    background-color: @btn-default-bg;
    color: @btn-default-color;
    border-color: @btn-default-border-hover;
}

.btn-default:active,
.btn-default:active:focus,
.btn-default.active {
    border-color: @btn-default-border-hover;
    color: @btn-default-active-color;
    background-color: @btn-default-active-bg;
    outline: 0;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: @btn-default-bg;
    border-color: @btn-default-border;
    color: @silver300;
    box-shadow: 0px 1px 3px 0px fade(@grey700, 40%);
}

.btn-lg, .btn-group-sm > .btn, .btn-lg, .btn-group-xs > .btn, .btn-icon.btn-lg, .btn-icon.btn-lg {
    border-radius: @btn-rounded;
}

/* BUTTON PRIMARY */
.btn-primary {
    .btn-bg(@primary-bg, @primary-color);
}

.btn-primary.text-dark {
    .btn-txt-dark(@primary-bg)
}

.btn-primary:hover,
.btn-primary:focus:hover,
.open > .dropdown-toggle.btn-primary {
    .state-btn-active(@primary-bg, @primary-color);
    background-color: @primary-bg-hover;
    border-color: transparent;
    text-decoration: none;
}

.btn-primary:focus {
    background-color: @primary-bg;
    color: @primary-color;
    border-color: @primary-bg-hover;
    text-decoration: none;
}

.btn-primary:active,
.btn-primary:active:focus,
.btn-primary.active {
    color: @primary-color;
    background-color: @primary-bg-active;
    text-decoration: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    .btn-bg(@primary-bg, @primary-color);
    color: @silver300;
}

/* BUTTON INFO */
.btn-info {
    .btn-bg(@info-bg, @info-color);
}

.btn-info.text-dark {
    .btn-txt-dark(@info-bg)
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    .state-btn-active(@info-bg, @info-color);
    background-color: @info-bg-hover;
    border-color: transparent;
    text-decoration: none;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    .btn-bg(@info-bg, @info-color);
    color: @silver300;
}

/* BUTTON SUCCESS */
.btn-success {
    .btn-bg(@success-bg, @success-color);
}

.btn-success.text-dark {
    .btn-txt-dark(@success-bg)
}

.btn-success:hover,
.btn-success:focus:hover,
.open > .dropdown-toggle.btn-success {
    .state-btn-active(@success-bg, @success-color);
    background-color: @success-bg-hover;
    border-color: transparent;
    text-decoration: none !important;
}

.btn-success:focus {
    background-color: @success-bg;
    color: @success-color;
    border-color: @success-bg-hover;
}

.btn-success:active,
.btn-success:active:focus,
.btn-success.active {
    color: @success-color;
    background-color: @success-bg-active;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    .btn-bg(@success-bg, @success-color);
    color: @silver300;
}

/* BUTTON WARNING */
.btn-warning {
    .btn-bg(@warning-bg, @warning-color);
}

.btn-warning.text-dark {
    .btn-txt-dark(@warning-bg)
}

.btn-warning:hover,
.btn-warning:focus:hover,
.open > .dropdown-toggle.btn-warning {
    .state-btn-active(@warning-bg, @warning-color);
    background-color: @warning-bg-hover;
    border-color: transparent;
    text-decoration: none;
}

.btn-warning:focus {
    background-color: @warning-bg;
    color: @warning-color;
    border-color: @warning-bg-hover;
}

.btn-warning:active,
.btn-warning:active:focus,
.btn-warning.active {
    color: @warning-color;
    background-color: @warning-bg-active;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    .btn-bg(@warning-bg, @warning-color);
    color: @silver300;
}

/* BUTTON DANGER */
.btn-danger {
    .btn-bg(@danger-bg, @danger-color);
}

.btn-danger.text-dark {
    .btn-txt-dark(@danger-bg)
}

.btn-danger:hover,
.btn-danger:focus:hover,
.open > .dropdown-toggle.btn-danger {
    .state-btn-active(@danger-bg, @danger-color);
    background-color: @danger-bg-hover;
    border-color: transparent;
    text-decoration: none;
}

.btn-danger:focus {
    background-color: @danger-bg;
    color: @danger-color;
    border-color: @danger-bg-hover;
}

.btn-danger:active,
.btn-danger:active:focus,
.btn-danger.active {
    color: @danger-color;
    background-color: @danger-bg-active;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    .btn-bg(@danger-bg, @danger-color);
    color: @silver300;
}

/* BUTTON DARK */
.btn-dark {
    .btn-bg(@dark-bg, @dark-color);
}

.btn-dark.text-dark {
    .btn-txt-dark(@dark-bg)
}

.btn-dark:hover,
.btn-dark:focus:hover,
.open > .dropdown-toggle.btn-dark {
    .state-btn-active(@dark-bg, @dark-color);
    text-decoration: none;
}

.btn-dark:focus {
    background-color: @dark-bg;
    color: @dark-color;
    border-color: @dark-bg-hover;
}

.btn-dark:active,
.btn-dark:active:focus,
.btn-dark.active {
    color: @dark-color;
    background-color: @dark-bg-active;
}

.btn-dark.disabled,
.btn-dark[disabled],
fieldset[disabled] .btn-dark,
.btn-dark.disabled:hover,
.btn-dark[disabled]:hover,
fieldset[disabled] .btn-dark:hover,
.btn-dark.disabled:focus,
.btn-dark[disabled]:focus,
fieldset[disabled] .btn-dark:focus,
.btn-dark.disabled.focus,
.btn-dark[disabled].focus,
fieldset[disabled] .btn-dark.focus,
.btn-dark.disabled:active,
.btn-dark[disabled]:active,
fieldset[disabled] .btn-dark:active,
.btn-dark.disabled.active,
.btn-dark[disabled].active,
fieldset[disabled] .btn-dark.active {
    .btn-bg(@dark-bg, @dark-color);
    color: @silver300;
}

.btn-hover-default:hover, .btn-hover-default:active, .btn-hover-default.active {
    .btn-bg(@gray-bg, @gray-color);
}

.btn.btn-active-default:active, .btn.btn-active-default.active,
.dropdown.open > .btn.btn-active-default,
.btn-group.open .dropdown-toggle.btn-active-default {
    &:extend(.btn-hover-default:hover);

    .btn-bg(@gray-bg, @gray-color);

}

/* HOVER & ACTIVE PRIMARY */
.btn-hover-primary:hover, .btn-hover-primary:active, .btn-hover-primary.active {
    .btn-bg(@primary-bg, @primary-color);
}

.btn.btn-active-primary:active, .btn.btn-active-primary.active,
.dropdown.open > .btn.btn-active-primary,
.btn-group.open .dropdown-toggle.btn-active-primary {
    &:extend(.btn-hover-primary:hover);

    .btn-bg(@primary-bg, @primary-color);

}

/* HOVER & ACTIVE INFO */
.btn-hover-info:hover, .btn-hover-info:active, .btn-hover-info.active {
    .btn-bg(@info-bg, @info-color);
}

.btn.btn-active-info:active, .btn.btn-active-info.active,
.dropdown.open > .btn.btn-active-info,
.btn-group.open .dropdown-toggle.btn-active-info {
    &:extend(.btn-hover-info:hover);

    .btn-bg(@info-bg, @info-color);

}

/* HOVER & ACTIVE SUCCESS */
.btn-hover-success:hover, .btn-hover-success:active, .btn-hover-success.active {
    .btn-bg(@success-bg, @success-color);
}

.btn.btn-active-success:active, .btn.btn-active-success.active,
.dropdown.open > .btn.btn-active-success,
.btn-group.open .dropdown-toggle.btn-active-success {
    &:extend(.btn-hover-success:hover);

    .btn-bg(@success-bg, @success-color);

}

/* HOVER & ACTIVE WARNING */
.btn-hover-warning:hover, .btn-hover-warning:active, .btn-hover-warning.active {
    .btn-bg(@warning-bg, @warning-color);
}

.btn.btn-active-warning:active, .btn.btn-active-warning.active,
.dropdown.open > .btn.btn-active-warning,
.btn-group.open .dropdown-toggle.btn-active-warning {
    &:extend(.btn-hover-warning:hover);

    .btn-bg(@warning-bg, @warning-color);

}

/* HOVER & ACTIVE DANGER */
.btn-hover-danger:hover, .btn-hover-danger:active, .btn-hover-danger.active {
    .btn-bg(@danger-bg, @danger-color);
}

.btn.btn-active-danger:active, .btn.btn-active-danger.active,
.dropdown.open > .btn.btn-active-danger,
.btn-group.open .dropdown-toggle.btn-active-danger {
    &:extend(.btn-hover-danger:hover);

    .btn-bg(@danger-bg, @danger-color);

}


/* HOVER & ACTIVE DARK */
.btn-hover-dark:hover, .btn-hover-dark:active, .btn-hover-dark.active {
    .btn-bg(@dark-bg, @dark-color);
}

.btn.btn-active-dark:active, .btn.btn-active-dark.active,
.dropdown.open > .btn.btn-active-dark,
.btn-group.open .dropdown-toggle.btn-active-dark {
    &:extend(.btn-hover-dark:hover);
    .btn-bg(@dark-bg, @dark-color);
}

.btn-group-vertical .btn:not(.btn-default),
.btn-group .btn:not(.btn-default) {
    border-color: rgba(0, 0, 0, 0.09)
}

.btn-lg,
.btn-group-lg > .btn {
    padding: 12px 30px;
}

.btn-sm,
.btn-group-sm > .btn {
    padding: 5px 9px;
}

.btn-xs,
.btn-group-xs > .btn {
    padding: 3px 7px;
}

.btn-lg, .btn-group-lg > .btn,
.btn-lg, .btn-group-sm > .btn,
.btn-lg, .btn-group-xs > .btn {
    border-radius: @btn-rounded;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
    border-top-left-radius: @btn-rounded;
    border-top-right-radius: @btn-rounded
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-bottom-left-radius: @btn-rounded;
    border-bottom-right-radius: @btn-rounded;
}


/*---------------------------------*/

/* BUTTON ROUNDED */
/*---------------------------------*/
.btn-rounded {
    border-radius: @btn-rounded;
    overflow: hidden
}

.btn-lg.btn-rounded {
    border-radius: @btn-rounded-lg
}

.btn-sm.btn-rounded {
    border-radius: @btn-rounded-sm
}

.btn-xs.btn-rounded {
    border-radius: @btn-rounded-xs
}

.btn-group.btn-rounded {
    overflow: hidden
}

/*---------------------------------*/

/* BUTTON LABELED */
/*---------------------------------*/
.btn-labeled,
.btn-labeled.fa {
    overflow: hidden;
    font-weight: 300
}

.btn-labeled:not(.btn-block):not(.form-icon) {
    font-family: inherit;
    font-size: @font-size;
    line-height: 1.42857;
    padding-bottom: 0;
    padding-top: 0;
}

.btn-block.btn-labeled:not(.form-icon) {
    font-family: inherit;
    font-size: @font-size;
    line-height: 1.42857;
}

.btn-block.btn-labeled:not(.form-icon):before {
    float: left;
    margin-top: -7px;
    margin-bottom: -7px;
}

.btn-labeled .btn-label {
    background-color: rgba(0, 0, 0, .05);
    //color:#fff;
    display: inline-block;
    margin-left: -12px;
    margin-right: 6px;
    padding: 6px 12px;
    line-height: 1.42857;
}

.btn-labeled:before {
    background-color: rgba(0, 0, 0, .05);
    //color:#fff;
    display: inline-block;
    margin-left: -12px;
    margin-right: 6px;
    padding: 6px 12px
}

.btn-labeled.fa:before,
.btn-labeled .fa:before {
}

.btn-default.btn-labeled:before,
.btn-default .btn-label {
    background-color: rgba(0, 0, 0, .05);
    color: inherit
}

.btn-lg.btn-labeled {
    font-size: 18px;
    line-height: 1.33
}

.btn-sm.btn-labeled {
    font-size: 12px;
    line-height: 1.5
}

.btn-xs.btn-labeled {
    font-size: 12px;
    line-height: 1.5
}

.btn-lg.btn-labeled:before,
.btn-lg .btn-label {
    margin-left: -16px;
    margin-right: 10px;
    padding: 10px 16px
}

.btn-lg.btn-block.btn-labeled:not(.form-icon):before {
    margin-top: -10px;
    margin-bottom: -10px;
}

.btn-sm.btn-labeled:before,
.btn-sm .btn-label {
    margin-left: -10px;
    margin-right: 5px;
    padding: 5px 10px
}

.btn-sm.btn-block.btn-labeled:not(.form-icon):before {
    margin-top: -5px;
    margin-bottom: -5px;
}

.btn-xs.btn-labeled:before,
.btn-xs .btn-label {
    margin-left: -5px;
    margin-right: 1px;
    padding: 1px 5px
}

.btn-xs.btn-block.btn-labeled:not(.form-icon):before {
    margin-top: -1px;
    margin-bottom: -1px;
}

.btn-labeled.icon-2x:before,
.btn-labeled .btn-label.icon-2x:before {
    vertical-align: -.15em
}

.btn-labeled.icon-3x:before,
.btn-labeled .btn-label.icon-3x:before {
    vertical-align: -.18em
}

.btn-labeled.icon-4x:before,
.btn-labeled .btn-label.icon-4x:before {
    vertical-align: -.20em
}

.btn-labeled.icon-5x:before,
.btn-labeled .btn-label.icon-5x:before {
    vertical-align: -.25em
}

/*---------------------------------*/

/*======================================*/
/* PANEL */
/*======================================*/
.panel {
    box-shadow: @panel-shadow;
    border-radius: @border-radius;
    //border:1px solid @body-bg;
    border: 0;
    opacity: 1;
    margin-bottom: 35px;
}

.panel hr {
    border-color: rgba(0, 0, 0, .1);
}

.panel .panel-bg-cover {
    max-height: 180px;
    overflow: hidden;
    img {
        min-width: 100%;
        min-height: 100%;
        background-size: cover
    }
}

.panel.panel-bg-img {
    position: relative;
}

.panel-bg-wrap {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.panel-bg-wrap + .panel-body {
    position: relative
}

.panel .panel-bg-wrap > img {
    position: absolute;
    top: 0;
    left: 0;
}

.panel-media {
    box-shadow: 0 -50px 20px -10px rgba(0, 0, 0, 0.2);
    padding: 10px 15px 15px 140px;
    position: relative
}

.panel-media-img {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 20px;
    top: -48px;
}

.panel-media-heading {
    color: #fff;
    position: absolute;
    top: -2.7em;
    .unselectable;

}

.panel-media-heading-simple {
    color: #fff;
    position: absolute;
    left: -110px;
    top: -2.7em;
    .unselectable;

}

.panel-media-heading-center-top {
    color: @darkblue100;
    position: relative;
    font-family: "TheSans_LT_300", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    margin-left: 36%;
    background-color: transparent;
    text-align: center;
    top: -160px;
    .unselectable;

}

.panel .panel-heading,
.panel > :first-child {
    border-top-left-radius: max(0px, @border-radius - 1px);
    border-top-right-radius: max(0px, @border-radius - 1px);
}

.panel .panel-footer,
.panel > :last-child {
    border-bottom-left-radius: max(0px, @border-radius - 1px);
    border-bottom-right-radius: max(0px, @border-radius - 1px);
}

.panel.remove {
    opacity: 0;
}

.panel .alert {
    border-radius: 0
}

.panel-body-full {
    margin-left: -15px;
    margin-right: -15px;
}

.panel-body {
    padding: 25px 15px;
}

.panel-trans {
    border-color: transparent;
    box-shadow: none
}

.panel-heading {
    position: relative;
    height: @panel-heading-height;
    padding: 0;
    .unselectable;
    .cursor-default;
}

.panel-title {
    font-family: @panel-title-font-family;
    padding: 15px;
    font-size: @panel-title-font-size;
    line-height: @panel-heading-height;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel-default.panel-colorful {
    background-color: white !important;
    color: @gray-color;
}

.panel-default .panel-heading {
    background-color: white;
    border-color: lighten(@gray-bg, 4%);
}

.panel-footer {
    background-color: transparent;
    color: @body-color;
    border-color: transparent;
    position: relative
}

.panel-primary .panel-heading,
.panel-primary .panel-footer,
.panel-primary.panel-colorful {
    background-color: @primary-bg;
    color: @primary-color;
}

.panel-light .panel-heading,
.panel-light .panel-footer,
.panel-light.panel-colorful {
    background-color: #f4f4f4;
    color: @body-color;
}

.panel-info .panel-heading,
.panel-info .panel-footer,
.panel-info.panel-colorful {
    background-color: @info-bg;
    color: @info-color;
}

.panel-success .panel-heading,
.panel-success .panel-footer,
.panel-success.panel-colorful {
    background-color: @success-bg;
    color: @success-color;
}

.panel-warning .panel-heading,
.panel-warning .panel-footer,
.panel-warning.panel-colorful {
    background-color: @warning-bg;
    color: @warning-color;
}

.panel-danger .panel-heading,
.panel-danger .panel-footer,
.panel-danger.panel-colorful {
    background-color: @danger-bg;
    color: @danger-color;
}

.panel > .panel-heading:after,
.panel.panel-colorful > .panel-heading:after {
    content: '';
    display: block;
    position: absolute;
    height: 0;
    left: 15px;
    right: 15px;
    border-bottom: @panel-heading-border
}

.panel-colorful > .panel-heading {
    border: 0
}

.panel-default > .panel-heading:after,
.panel-primary > .panel-heading:after,
.panel-info > .panel-heading:after,
.panel-success > .panel-heading:after,
.panel-warning > .panel-heading:after,
.panel-danger > .panel-heading:after,
.panel-purple > .panel-heading:after,
.panel-pink > .panel-heading:after,
.panel-dark > .panel-heading:after {
    display: none
}

.panel-bordered-default,
.panel-default.panel-bordered {
    border: 1px solid darken(@gray-bg, 15%)
}

.panel-bordered-primary,
.panel-primary.panel-bordered {
    border: 1px solid @primary-bg
}

.panel-bordered-info,
.panel-info.panel-bordered {
    border: 1px solid @info-bg
}

.panel-bordered-success,
.panel-success.panel-bordered {
    border: 1px solid @success-bg
}

.panel-bordered-warning,
.panel-warning.panel-bordered {
    border: 1px solid @warning-bg
}

.panel-bordered-danger,
.panel-danger.panel-bordered {
    border: 1px solid @danger-bg
}

.panel-group .panel {
    border-radius: 0;
    margin-bottom: 20px
}

.panel-group > div {
    padding-left: 0;
    padding-right: 0
}

.panel-group > div:first-child > .panel {

    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.panel-group > div:last-child > .panel {

    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.panel-group > div + div > .panel {
    margin-left: -1px
}

//PANEL CONTROL

.panel-control {
    /*margin-top: -7px;
    margin-right: -15px;*/
    height: 100%;
    position: relative;
    float: right;
    padding: 0 15px;
}

.panel-control:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    left: -1em;
    position: relative;
}

.panel-control > i, .panel-control > .badge, .panel-control > label {
    vertical-align: middle
}

//Tabs
@max-tabs-height: 40px;

.panel-control .nav-tabs > li:not(.active) {
    background-color: transparent;
    opacity: .6;
}

.panel-control .nav-tabs > li {
    margin-top: 1px;
    margin-right: 5px;
    height: 100%;
}

.panel-primary .panel-control .nav-tabs > li > a,
.panel-info .panel-control .nav-tabs > li > a,
.panel-success .panel-control .nav-tabs > li > a,
.panel-warning .panel-control .nav-tabs > li > a,
.panel-danger .panel-control .nav-tabs > li > a,
.panel-mint .panel-control .nav-tabs > li > a,
.panel-purple .panel-control .nav-tabs > li > a,
.panel-pink .panel-control .nav-tabs > li > a,
.panel-dark .panel-control .nav-tabs > li > a {
    border-top: 0 !important;
    border-color: transparent !important;
}

.panel-control .nav-tabs > li:not(.active) > a {
    color: inherit;
}

.panel-control .nav-tabs > .active > a {
    //box-shadow: 0 2px #fff;
    z-index: 1;
}

.panel-control .nav-tabs > li:not(.active) > a {
    border-bottom: 0 !important;
}

.panel-control .nav-tabs > li:not(.active) > a:hover {
    color: #000000;
    background-color: rgba(255, 255, 255, .90);
    border-color: transparent
}


//With Progress Bar
.panel-control .progress {
    min-width: 150px;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

//With Switch
.panel-control .switchery {
    margin-left: 15px;
    vertical-align: middle
}

//With Pager
.panel-control .pager {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    border-radius: 0;
}

//With Pagination
.panel-control .pagination {
    margin: 0;
    border-radius: 0;
    vertical-align: middle
}

.panel-control .pagination > li > a, .panel-control .pagination > li > span {
    padding: 0 10px;
    border: @border-radius @border-radius 0 0;
    border-color: rgba(0, 0, 0, .09);
    box-shadow: none;
    height: 100%;
    line-height: 35px;
}

.panel-control .pagination > li:not(.active):not(.disabled) > a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: 500;
    border-color: rgba(0, 0, 0, .09);
}

.panel-control .pagination > li:not(.active) > a, .pagination > li > a {
    background-color: transparent;
    color: inherit;
}

.panel-control .pagination > li > a:hover, .pagination > li > a:focus {
    box-shadow: none;
}

.panel-control .pagination > .disabled > a,
.panel-control .pagination > .disabled > a:hover,
.panel-control .pagination > .disabled > a:active {
    border-color: rgba(0, 0, 0, .09);
}

//With Buttons

.panel-control .btn,
.panel-control .dropdown-toggle.btn {
    border: 0;

    //height: 100%;
    //padding:0 13px
}

.panel-control .open > .btn,
.panel-control .btn.active,
.panel-control .btn:active {
    box-shadow: none !important
}

.panel-control .btn-default {
    background-color: transparent;
    color: inherit
}

.panel-control > .btn:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.panel-control > .btn:last-child,
.panel-control > .btn-group:last-child > .btn:first-child {
    border-bottom-right-radius: 0
}

.nano > .nano-content {
    overflow: hidden;
}

.nano.has-scrollbar > .nano-content {
    overflow-y: scroll
}

/* Icons */

.groupicon-2x {
    font-size: 1.9em;
}

[class^="groupicon-"], [class*=" groupicon-"] {
    font-family: 'groupicon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="groupicon-"].btn, [class*=" groupicon-"].btn {
    background-color: @btn-default-bg;
    color: @btn-default-color-icon;
    padding: 5px;
    border: none;
    border-radius: @btn-rounded;
}

[class^="groupicon-"].btn:hover, [class*=" groupicon-"].btn:hover {
    background-color: @btn-default-hover-bg;
    color: @grey400;
}

[class^="groupicon-"].btn-default:active, [class*=" groupicon-"].btn-default:active,
[class^="groupicon-"].btn-default:active:focus, [class*=" groupicon-"].btn-default:active:focus,
[class^="groupicon-"].btn-default.active, [class*=" groupicon-"].btn-default.active {
    //border-color: @btn-default-border-hover;
    //color: @btn-default-active-color;
    background-color: @btn-default-active-bg;
    //outline: 0;
}

[class^="groupicon-"].btn-lg, [class*=" groupicon-"].btn-lg {
    padding: 5px 20px 5px 10px;
}

[class^="groupicon-"] span, [class*=" groupicon-"] span {
    font-size: 14px;
    vertical-align: middle;
    font-family: @btn-font-family;
    padding: 0 0 0 10px;
}

[class^="groupicon-"].disabled, [class*=" groupicon-"].disabled, [class^="groupicon-"]:disabled, [class*=" groupicon-"]:disabled {
    color: @btn-default-color;
    box-shadow: 0 1px 3px 0 fade(@grey700, 40%);
}

.groupicon-text {
    font-size: 12px;
}

[class^="groupicon-"].btn-without-bg.disabled, [class*=" groupicon-"].btn-without-bg.disabled, [class^="groupicon-"].btn-without-bg:disabled, [class*=" groupicon-"].btn-without-bg:disabled {
    box-shadow: none;
    background-color: transparent;
}

.btn.btn-without-bg {
    box-shadow: none;
    color: @darkblue100;
    background-color: transparent;
    padding: 5px;
    outline: 0;
    border: none;
    border-radius: @btn-rounded;

    text-transform: none;
    min-height: 30px;

    > span {
        font-size: 15px;
    }
}

[class^="groupicon-"].btn.btn-without-bg.btn-lg, [class*=" groupicon-"].btn.btn-without-bg.btn-lg {
    font-size: 20px;

    span {
        padding: 0 0 0 5px;
    }
}

.btn.btn-without-bg:hover,
.btn.btn-without-bg:focus:hover {
    color: @blue500;
    background-color: transparent;
    outline: 0;
}

.btn.btn-without-bg:focus {
    color: @darkblue100;
    box-shadow: none;
    background-color: transparent;
    border: none;
    outline: 0;
}

.btn.btn-without-bg:active,
.btn.btn-without-bg:active:focus,
.btn.btn-without-bg.active {
    color: @blue400;
    border: none;
    box-shadow: none !important;
    background-color: transparent;
    outline: 0;
}

/* [VWFF-15] AJS - Alignment header */
/* Corrects alignment for subheaders (h4) */

h4, .h4 {
    margin-top: (@line-height-computed / 2) * 1.5;
    margin-bottom: (@line-height-computed / 2);
}

.panel {
    margin-left: 1px;
}
