//
// Jumbotron
// --------------------------------------------------


.jumbotron {
    margin-top: 20px;
    padding: @jumbotron-padding;
    margin-bottom: @jumbotron-padding;
    font-size: @jumbotron-font-size /1.8;
    font-weight: 200;
    color: @jumbotron-color;
    background-image: url("../img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: @jumbotron-bg;

    h1,
    .h1 {
        line-height: .8;
        color: @jumbotron-heading-color;
    }
    p {
        line-height: 1.4;
    }

    .container & {
        border-radius: @border-radius-large; // Only round corners at higher resolutions if contained in a container
    }

    .container {
        max-width: 100%;
    }

    @media screen and (min-width: @screen-sm-min) {
        line-height: (@line-height-base * 1.5);
        font-size: @jumbotron-font-size;
        padding-top:    (@jumbotron-padding * 1.6);
        padding-bottom: (@jumbotron-padding * 1.6);

        .container & {
            padding-left:  (@jumbotron-padding * 2);
            padding-right: (@jumbotron-padding * 2);
        }

        h1,
        .h1 {
            font-size: (@font-size-base * 4.5);
        }
    }
}
