.container
    script.
        var warningString = "<div class='alert alert-danger text-center'><B>WARNING:</B> To maintain your login session, make sure that your browser is configured to accept Cookies.</div>";
        document.cookie = 'acceptsCookies=yes';
        if(document.cookie == '') {
            document.write(warningString);
        }
        else{
            document.cookie = 'acceptsCookies=yes; expires=Fri, 13-Apr-1970 00:00:00 GMT'
        }
    case header
        when true
            .jumbotron.unselectable
                div.text-center
                    img(src='img/logo.png', width=120, class='text-center mar-top')
                h1.text-thin.text-center #{title}
        default
                div.spacer50
    .row
        case userid
            when true
                .col-sm-4
                    include ../modules/tiles/userid
        case pki
            when true
                .col-sm-4
                    include ../modules/tiles/pki
        case pwss
            when true
                .col-sm-4
                    include ../modules/tiles/pwss
script.
    if("%ERROR%" != ""){
        document.write("<div class='alert alert-danger text-center'> Error! Your log in was incorrect. Please check your user name and password. Be sure you use the correct spelling and check if caps lock is activated.</div>");
    }


