// build:js scripts/vendor.js
script(src='bower_components/jquery/jquery.js')
script(src='bower_components/bootstrap/js/affix.js')
script(src='bower_components/bootstrap/js/alert.js')
script(src='bower_components/bootstrap/js/dropdown.js')
script(src='bower_components/bootstrap/js/tooltip.js')
script(src='bower_components/bootstrap/js/modal.js')
script(src='bower_components/bootstrap/js/transition.js')
script(src='bower_components/bootstrap/js/button.js')
script(src='bower_components/bootstrap/js/popover.js')
script(src='bower_components/bootstrap/js/carousel.js')
script(src='bower_components/bootstrap/js/scrollspy.js')
script(src='bower_components/bootstrap/js/collapse.js')
script(src='bower_components/bootstrap/js/tab.js')
// endbuild
// build:js scripts/main.js
//script(src='scripts/main.js')
// endbuild
