.pki {
    width: 250px;
    padding: 20px;
}

.footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: white;
    height: 150px;
    text-align: center;
    padding: 10px;
}

@media (min-width: @screen-sm-min) {
    .pki {
        width: 150px;
        padding-bottom: 28px;
        padding-top: 30px;
    }
}

@media (min-width: @screen-md-min) {
    .pki {
        width: 200px;
        padding: 0;
    }
}
