//Volkswagen WebSEAL Generator by Tayfun Guelcan
doctype 5
html.no-js(lang='en')
    include config
    head
        include modules/head
    body
        include modules/content
        case footer
            when true
                include modules/footer
