//Volkswagen WebSEAL Generator by Tayfun Guelcan
doctype 5
html.no-js(lang='en')
    include config
    head
        include modules/head
    body
        .container
            script.
                var warningString = "<div class='alert alert-danger text-center'>Certification authentication failed. An attempt to authenticate with a client certificate failed. A valid client certificate is required to make this connection.</div>";
                document.cookie = 'acceptsCookies=yes';
                if (document.cookie == '') {
                    document.write(warningString);
                }
                else {
                    document.cookie = 'acceptsCookies=yes; expires=Fri, 13-Apr-1970 00:00:00 GMT'
                }
            case header
                when true
                    .jumbotron.unselectable
                        div.text-center
                            img(src='img/logo.png', width=120, class='text-center mar-top')
                        h1.text-thin.text-center #{title}
                default
                    div.spacer50
            .row
                case userid
                    when true
                        .col-sm-4
                            include modules/tiles/userid
                case pki
                    when true
                        .col-sm-4
                            include modules/tiles/pki
                case pwss
                    when true
                        .col-sm-4
                            include modules/tiles/pwss
        script.
            if ("%ERROR%" != "") {
                document.write("<div class='alert alert-danger text-center'> Error! Your log in was incorrect. Please check your user name and password. Be sure you use the correct spelling and check if caps lock is activated.</div>");
            }
        case footer
            when true
                include modules/footer
