//- Names
- var title = "Willkommen im Stimmungsbarometer";
- var name = "Stimmungabarometer";

//- Boolean Settings
- var header = true;
- var footer = true;
- var pki = true;
- var userid = true;
- var pwss = true;
