div.panel.panel-default.panel-colorful.equal
    .panel-heading
        .panel-title PKI-Ausweis
    .panel-body
        div.text-center.mar-all
            img(src='img/pki.png', class='pki text-center mar-top')
        form(autocomplete="off")
            .form-group
                div.text-right
                    input(type="hidden", name="login-form-type", value="cert")
                    button(class="btn btn-default mar-top btn-block", type="SUBMIT").
                        Anmelden
