div.panel.panel-default.panel-colorful.equal
    .panel-heading
        .panel-title.mar-btm
    .panel-body
        span.text-center
            p
                i.groupicon-info.text-info.text-4x.cursor-default
            p.mar-top Bei Fragen oder Problemen wenden Sie sich bitte an die Hotline Ihrer Gesellschaft.
