div.panel.panel-default.panel-colorful.equal
    .panel-heading
        .panel-title User-ID
    .panel-body
        form(autocomplete="off", method="POST", action="/pkmslogin.form", onsubmit="return setLastLoginFormType('pwd')")
            .form-group
                label.mar-top User-ID
                input(type='text').form-control
                label.mar-top Passwort
                input(type='password').form-control.mar-btm
                div.text-right
                    button(class="btn btn-default mar-top btn-block", type="SUBMIT").
                        Anmelden
